<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :seed, collection: Team.seeds, selected: @team.seed %>
    <%= f.association :school %>
    <%= f.association :debaters %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
