<%= simple_form_for(@debater) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :school %>
    <%= f.association :team %>
    <%= f.input :novice %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
