<%= simple_form_for(@judge) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :schools %>
    <%= f.input :rank %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
