<%= simple_form_for(@scratch) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :scratch_type, collection: Scratch.scratch_types, selected: @scratch.scratch_type %>
    <%= f.association :team, selected: params[:team_id] %>
    <%= f.association :judge, selected: params[:judge_id] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
