<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= link_or_none @scratch.team %>
</p>

<p>
  <strong>Judge:</strong>
  <%= link_or_none @scratch.judge %>
</p>

<p>
  <strong>Type:</strong>
  <%= @scratch.type %>
</p>

<%= link_to 'Edit', edit_scratch_path(@scratch) %> |
<%= link_to 'Back', scratches_path %>
